h1 { 
    color: rgb(29, 27, 27);
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body { 
    background-color: rgb(233, 229, 223);
}


p2 {
    margin-right: 200px;
    margin-left: 200px;
    text-align: right;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(41, 27, 27);
    width: px;
    background-color: rgb(197, 184, 184);
    border: 3px solid rgb(27, 24, 24);
    font-size: 20px;
}