<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div>
        <h1>You should not be seeing this page. Something went wrong.</h1>
    </div>

  <div class="container">
    <footer id="footer" class="text-center fixed-bottom bg-light">
      <div class="row">
      </div>
    </footer>
  </div>
</main>

<%- include ('../partials/footer') %>