<header>
    <nav class="navbar navbar-expand-sm border-bottom">
      <div class="container">
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-collapse"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <!-- TO-DO: For Discover, add a <a> tag with an attribute href to call the '/discover' API -->
                <a class="nav-link" href="/reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userpage">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/likedBooks">My Liked Books</a>
            </li>

      <li class="nav-item">
        <form action="/searchRes" method="GET" class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="search" class="col-form-label"></label>
          </div>
          <div class="col-auto">
            <input placeholder="Search for books" type="text" id="search" name="search" class="form-control">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </li>

          </ul>
          <div class="nav-item me-1">
                <a class="nav-link" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>
   </header>